<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Action("Index", "TopNavigation")
    <div style="padding-top:50px;" class="container body-content">
        <!--TODO: fjern hardcoded css senere-->
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mercell Danmark</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>